body{ 
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-size:13px; 
	color:#222222;
}
a{
	color: #335555
}
a:hover, a:focus{ 
	text-decoration: none;
	color: #000000;
	outline: 0;
}

/* HEADER
========================================================================*/
header{
}

/* LOGO
========================================================================*/
.logo {
	font:italic bold 52px/35px "Times New Roman", Times, serif;
	color:#3355AA;
	display:block;
	margin:13px 0 13px 20px;
	float: left;
	background: url(../images/logo.jpg);
	height: 57px;
	width: 239px;
	text-indent: -999px;
}
/* TOP MENU
========================================================================*/
.topMenu {
	float:right;
	margin:0;
	list-style-type: none; 
}
.topMenu li {
	float:left;
	background:url(../images/topMenuDivider.jpg) left top no-repeat;
	position:relative;
}

.topMenu li a {
	display:block;
	color:#3355aa;
	font-size:17px;
}

.topMenu li a .menu-icon {
	background:url(../images/sprite.png) left top no-repeat;
	height:14px;
	width:14px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px
}
.topMenu li a .menu-txt{
	margin:0 12px;
	line-height:38px;
	display: block;
}
.topMenu li:hover a, .topMenu li.active a {
	color:#222222;
	background:url(../images/topMenuOver.jpg) left top repeat-x;
}
.topMenu li:hover a .menu-txt, 
.topMenu li.active a .menu-txt {
	border-bottom:3px solid #eebe00;

}

.topMenu li a .icon-about {
	background-position:left -14px;
}

.topMenu li a .icon-blog {
	background-position:left -28px;
}

.topMenu li a .icon-contact {
	background-position:left -42px;
}
/* SEARCH FORM
========================================================================*/
.search{
	float:right;
	margin-top: 5px;
}
.search .searchBox{	
	background:#214193;
	border:2px solid #0f2356;
	padding:7px; 
	color:#5971ae;
	float:left; 
	margin-bottom: 0;
	height: 15px;
	width:156px;
	font-size: 13px;
	-webkit-box-shadow: 0px 1px 0px #4866b3;
	-moz-box-shadow: 0px 1px 0px #4866b3;
	box-shadow: 0px 1px 0px #4866b3;
	-webkit-border-radius:4px; 
	-moz-border-radius:4px;
	border-radius: 4px;
}
.buttonGo{
	width:38px;
	height:31px; 
	float:left; 
	text-align: center;
	padding: 0; 
	margin: 0 0 0 10px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;  
	cursor: pointer; 
	background-color: #5275cd; 
	background-image: -ms-linear-gradient(top, #5275cd, #4067c8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5275cd), to(#4067c8));
	background-image: -webkit-linear-gradient(top, #5275cd, #4067c8); 
	background-image: -o-linear-gradient(top, #5275cd, #4067c8); 
	background-image: linear-gradient(top, #5275cd, #4067c8);
	background-image: -moz-linear-gradient(top, #5275cd, #4067c8);
	background-repeat: repeat-x;border: 1px solid #1c3980; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5275cd', endColorstr='#4067c8', GradientType=0); 
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: 0px 1px 0px #4866b3;
	-moz-box-shadow: 0px 1px 0px #4866b3;
	box-shadow: 0px 1px 0px #4866b3;
}
.buttonGo:hover{
	background-color: #406788; 
	background-image: -ms-linear-gradient(top, #4067c8, #5275cd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4067c8), to(#5275cd));
	background-image: -webkit-linear-gradient(top, #4067c8, #5275cd); 
	background-image: -o-linear-gradient(top, #4067c8, #5275cd); 
	background-image: linear-gradient(top, #4067c8, #5275cd);
	background-image: -moz-linear-gradient(top, #4067c8, #5275cd);
	background-repeat: repeat-x;border: 1px solid #1c3980; 
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4067c8', endColorstr='#5275cd', GradientType=0); 
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.icon-search{
	background:url(../images/sprite.png) left -222px no-repeat; 
	width: 16px;
	display:inline-block;
}
/* NAV
========================================================================*/
.navbar .container{ 
	width: 940px;
}
.navbar{
	margin-bottom:37px;
}
.navbar-inverse 
.navbar-inner{
	background: #3355AA;
	background-image: -moz-linear-gradient(top, #3355AA, #3355AA);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3355AA), to(#3355AA));
	background-image: -webkit-linear-gradient(top, #3355AA, #3355AA);
	background-image: -o-linear-gradient(top, #3355AA, #3355AA);
	background-image: linear-gradient(to bottom, #3355AA, #3355AA);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3355AA', endColorstr='#3355AA', GradientType=0);
	border: 0;
	padding: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.navbar-inverse .brand, 
.navbar-inverse .nav {
	background:url(../images/navDivider.jpg) left center no-repeat;
}

.navbar-inverse .brand, 
.navbar-inverse .nav > li {
	float:right;
	background:url(../images/navDivider.jpg) right center no-repeat;
	font-size:16px;
}
.navbar-inverse .brand, 
.navbar-inverse .nav > li > a{
	color:#ffffff;
	font-style:italic;
	text-shadow:1px 1px 1px #000000;
	padding:11px 16px;
}
.navbar-inverse .brand, 
.navbar-inverse .nav > li > a:hover {
	color:#eebe00;
}

/* BANNER
========================================================================*/
.banner{
	margin-bottom:46px;
}
.bannerInner{
	border:1px solid #e3e3e3;
	padding:10px;
	-webkit-box-shadow:0 1px 5px #d1d1d1;
	-moz-box-shadow:0 1px 5px #d1d1d1;
	box-shadow:0 1px 5px #d1d1d1;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*overflow: hidden;
}
.weDo {
	line-height:20px;
	color:#666666;
	margin-bottom: 20px;
}
.announcements ul{
	margin: 0;
	list-style-type: none;
}
.announcements li {
	border-bottom:1px solid #f0f0f0;
	padding-bottom:10px;
	margin-bottom:10px;
	font-style:italic;
	line-height:18px;
}
.announcements li a {
	color:#666666;
}
.announcements li a:hover {
	color:#000000;
}
.announcements .nameDate {
	font-size:10px;
	color:#888888;
	font-style:normal;
	margin-top:5px;
	display:block;
}
.announcements .nameDate a{
	color:#222333;
}
.announcements .nameDate a:hover{
	color:#666666;
}
/* HEADINGS
========================================================================*/
h1, h2, h3, h4, h5, h6{
	margin: 0
}
h1 {
	font-size:26px;
	line-height:27px;
}
h3 {
	font:bold 16px/33px Arial, Helvetica, sans-serif;
	border-bottom:3px solid #eebe00;
	text-transform:uppercase;
	color:#666666;
	margin-bottom:10px;
}
h3 a {
	color:#3355aa;
}
h3 a:hover {
	color:#666666;
}
.iconHeading {
	background-image: url("../images/sprite.png");
	background-position: left -54px;
	background-repeat: no-repeat;
	height: 33px;
	line-height: 33px;
	vertical-align: text-top;
	width: 33px;
	float: right;
}

.iconOperate {
	background-position:left -120px;
}

.iconAnnouncements {
	background-position:left -87px;
}
/* BOTTON
========================================================================*/
.viewMore{
	font-style:normal;
}
/* sectors
========================================================================*/
.sectorsWrap{
	background:#f4f5f6;	
	border-top:1px solid #dbdcdd;

}
.sectorsInner h2{
	text-align:center;
	font:bold 28px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin:25px 0
}
.sectorsInner{
	margin-bottom: 40px;
}
.sectorsInner ul{
	margin:0;
	list-style-type: none;
}
.sectorsInner ul li{
	background:#fff;
	border:1px solid #dcddde;
	width:174px;
	float:left;
	margin-left:15px;
	-webkit-box-shadow:0 1px 3px #c2c2c2;
	-moz-box-shadow:0 1px 3px #c2c2c2;
	box-shadow:0 1px 3px #c2c2c2;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.sectorsInner ul li a{
	display: block;
	padding:5px
}
.sectorsInner li h4 {
	text-align:center;
	width:150px;
	margin:5px auto;
	font-size: 13px;
	font-weight: normal;
}
.sectorsInner ul h4.inline {
	margin:15px auto;
}
.sectorsInner ul li:first-child {
	margin-left:0;
}
.dividerWrap{
	margin-bottom: 50px;
	height: 1px;
}
.sectorDivider{
	height: 1px;
	background: #ffffff;
	border-bottom: 1px solid #dedede;
}
.iconDivider{
	background:url(../images/sprite.png) left -200px repeat-x;
	height: 21px;
	line-height: 21px;
	vertical-align: text-top;
	width: 21px;
	text-align: center;
	display: block;
	margin: -12px auto 0;
}
.mapWrap{
	margin-bottom: 20px;
}
.mapWrap h2 {
	font:bold 24px/36px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#444444;
	margin:0;
	text-align:center;
}
.mapWrap .headingSub {
	color:#666666;
	padding:10px 0;
	font-size: 18px;
	line-height: 24px;
	width: 690px;
	margin:0 auto;
	text-align: center;
}
.locationMap{	
	width: 620px;
	margin: 0 auto;
	position: relative;
	*margin-top:46px;
}
.bubbleInfo {
	position: absolute;
	width: 25px;
	height: 23px;
}
.trigger{
	cursor: pointer;
	background: url(../images/sprite.png) left -153px no-repeat;
	width: 25px;
	height: 25px;
	display: block;	
}
.popup {
	position: absolute;
	display: none; /* keeps the popup hidden if no JS available */
	background: #ffffff;
	border: 1px solid #c5c6c7;
	padding:5px 10px;
	width: 140px;
	font-style: italic;
	color: #666666;
	font-size: 12px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;	
}
.tooltip-down-arrow{
	background: url(../images/sprite.png) left -238px;
	width: 17px;
	height: 10px;	
	position: absolute;
	bottom: -10px;
	left: 100px;
}
.popup ul{
	margin: 0;
	list-style-type: none;
}
.popup li .name{ 
	display: inline-block; 
	width: 100px;
}
.colombiaMap{
	left: 167px;
	top: 250px;
}	
.kenyaMap{
	left: 337px;
	top: 260px;
}
.indiaMap{
	left: 404px;
	top: 212px;
}	
.countryMap1 {
	left: 487px;
	top: 252px;
}
.countryMap2 {
	left: 515px;
	top: 265px;
}
/* FOOTER
========================================================================*/
footer {
	background:url(../images/bgFooter.jpg);
	-webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,1);
	-moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,1);
	box-shadow: inset 0 20px 20px -20px rgba(0,0,0,1);
}

.footerRow {
	border-bottom:1px solid #3d3d3d;
	padding:15px 0;
	overflow: hidden;
}
.footerMainLinks{
	margin: 0;
	list-style-type: none;
	float: left;
}
.footerMainLinks li {
	float: left;
	margin-left:7px;
	padding-left:7px;
	border-left:#666666 1px solid;
	line-height: 14px;
}
.footerMainLinks li:first-child{
	margin-left:0;
	padding-left:0;
	border-left:0;	
}
.footerMainLinks li a {
	color:#aaaaaa;
	font-size:14px;
}
.footerMainLinks li a:hover, 
.footerMainLinks li.active a{
	color:#ffffff
}
.footerLinks{
	margin: 0;
	list-style-type: none;
	float: right;
}
.footerLinks li {
	font-size:11px;
	margin-left:7px;
	padding-left:7px;
	border-left:#666666 1px solid;
	float: left;
	line-height: 14px;
}
.footerLinks li:first-child{
	margin-left:0;
	padding-left:0;
	border-left:0;	
}
.footerLinks li a {
	color:#aaaaaa;
}
.footerLinks li a:hover{
	color:#ffffff
}
.footerWrap {
	border-top:1px solid #222222;
	color:#888888;
	font-size:11px;
	padding:10px 0 30px;
}
.socialLinks{
	float: right;
	margin: 0;
}
.socialLinks li {
}
.socialLinks li a {
	width:17px;
	height:17px;
	display:block;
	text-indent:-100000px;
	background:url(../images/sprite.png) left -250px no-repeat;
	margin:3px 0 0 5px;
	float: left;
}
.socialLinks li a.twitter {
	background-position:left -266px;
}
.socialLinks li a.linkedin {
	background-position:left -283px;
}
img, object, embed {
	height: auto;
	max-width: 100%;
}
@media (min-width: 768px) and (max-width: 979px) {
	.navbar .container{ 
		width: 724px !important;
	}
	.flex-control-nav li{
		margin: 0 0 0 58px;
	}
	h3{
		font-size: 14px;
	}
	h3 a{
		font-size: 14px;
	}
	.sectorsInner ul li{
		width: 200px;
	}
}
@media (max-width: 979px){
	.navbar .btn-navbar{
		float: left;
	}
	.sectorsInner h2{
		font-size: 20px;
	}	
	.mapWrap h2{
		font-size: 20px;
	}
	.mapWrap .headingSub{
		font-size: 13px;
		width: auto;
		padding: 10px 20px;
		line-height: 20px;
	}
	.navbar-inverse .brand, .navbar-inverse .nav, 
	.navbar-inverse .brand, .navbar-inverse .nav > li{
		background: none;
	}
	.navbar-inverse .nav-collapse .nav > li > a, 
	.navbar-inverse .nav-collapse .dropdown-menu a{
		color: #ffffff !important;
		font-weight: normal !important;
	}
	.navbar-inverse .nav-collapse .nav > li > a:hover, 
	.navbar-inverse .nav-collapse .nav > li > a:focus, 
	.navbar-inverse .nav-collapse .dropdown-menu a:hover, 
	.navbar-inverse .nav-collapse .dropdown-menu a:focus{
		background: none !important;
	}
	.navbar-inverse .nav-collapse .nav > li > a:hover, 
	.navbar-inverse .nav-collapse .dropdown-menu a:hover{
		color: #EEBE00 !important;
	}
	.sectorsInner ul{
		text-align: center;
	}
	.sectorsInner ul li{
		float: none;
		display:inline-block;
	}
	.sectorsInner ul li:nth-child(4){
		margin-left: 0;
	}
	.sectorsInner ul li:nth-child(4), 
	.sectorsInner ul li:nth-child(5){
		margin-top: 19px;
	}
	.navbar{
		margin-bottom: 30px;
	}
	.banner{
		margin-bottom: 30px;
	}

}
@media (max-width: 767px) {
	body {
		padding: 0px !important;
	}
	.container, 
	.navbar 
	.container{
		padding: 0 25px !important;
	}
	.bannerInner{
		margin-bottom: 30px;
	}
	.titleOperate{
		margin-bottom: 30px;
	}
	.flex-control-nav{
		background: none;
	}
	.flex-control-nav li{
		margin: 0 0 0 3px;
	}
	.sectorsInner ul li{
		width: 31%;
		margin-left: 15px;
	}
}
@media (max-width: 641px) {
	.logo{
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
	.topMenu{
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	.topMenu li{
		float: none;
		display: inline-block;
		margin-right: -8px;
	}
	.topMenu li a .menu-txt{
		line-height: normal;
	}
	.topMenu li:hover a, 
	.topMenu li.active a{
		background: none;
	}
	.topMenu li:hover a .menu-txt, 
	.topMenu li.active a .menu-txt{
		border-bottom: 1px solid #EEBE00;
	}
	.sectorsInner ul li{
		width: 174px
	}
	.sectorsInner ul li:nth-child(4){
		margin-left: 0;
	}
	.locationMap{
		width: 440px;
	}
	.colombiaMap{
		left: 115px;
		top: 176px;
	}
	.kenyaMap {
		left: 240px;
		top: 173px;
	}
	.indiaMap {
		left: 282px;
		top: 148px;
	}
	.countryMap1 {
		left: 340px;
		top: 175px;
	}
	.countryMap2 {
		left: 353px;
		top: 180px;
	}
	.footerMainLinks{
		float: none;
		text-align: center;
		margin-bottom: 20px;
	}
	.footerMainLinks li{
		float: none;
		display: inline-block;
	}
	.footerLinks{
		float: none;
		text-align: center;
	}
	.footerLinks li{
		float: none;
		display: inline-block;
	}
}
@media (max-width: 480px) {
	.container, .navbar .container{
		padding: 0 40px !important;
	}
	.topMenu li a .menu-icon{
		display: none;
	}
	.locationMap{
		display: none;
	}
	.sectorsInner ul li:nth-child(3) {
		margin-left: 0;
	}
	.sectorsInner ul li:nth-child(4){
		margin-left: 15px;
	}
	.sectorsInner ul h4.inline{
		margin: 5px auto;
	}
	.mapWrap h2{
		font-size: 16px;
	}
}
@media (max-width: 320px) {
	.mapWrap .headingSub{
		line-height: 16px;
	}
	.sectorsInner ul li{
		width: 200px;
		margin:0 0 10px 0 !important;
	}
	.sectorsInner li h4{
		width: 122px;
	}
	.footerMainLinks{
		text-align: r;
	}
	.footerLinks{
		text-align: left;
	}
	.footerLinks li:last-child{
		margin-left:0;
		padding-left:0;
		border-left:0;
	}
}